.Rproj.user
.Rhistory
.RData
.Ruserdata
node_modules/
.next/
.turbo/
.vercel/
frontend/.next/
frontend/node_modules/
frontend/.turbo/
frontend/.vercel/

.Rproj.user
.Rhistory
.RData
.Ruserdata

*.md
!README.md

mails
.obsidian

x
model
prior
